<section data-id= "<%= books.id %>">
    <img src="<%= books.image_url %>"/>
    <h4>Title: <%= books.title %></h4>
    <h5>Author: <%= books.author %></h5>
    <p><%= books.description %></p>
    <p>ISBN: <%= books.isbn %></p>
</section>
