<!DOCTYPE html>

<html>

<head>
  <title>Searches</title>
  <link href="../styles/reset.css" rel="stylesheet" type="text/css">
  <link href="../styles/base.css" rel="stylesheet" type="text/css">
  <link href="../styles/layout.css" rel="stylesheet" type="text/css">
  <link href="../styles/modules.css" rel="stylesheet" type="text/css">
</head>

<body id="resultsBody">
  <main>

    <ul><% searchResults.forEach(book => { %>
      <li>

        <form action="/books" method="post">
          <img src="<%=book.image_url %> "> 
          <h2><%=book.title %></h2>
          <h3><%=book.author %></h3>
          <p><%=book.description %></p>
          <input type="hidden" name="newBook" value="<%=JSON.stringify(book)%>"></input>

          <button type="submit">Select this Book</button>
        </form>
      </li>

      <% }) %>
    </ul>

  </main>
</body>

</html>