<!DOCTYPE html>

<html>

<head>
  <title>Searches</title>
  <link href="../styles/reset.css" rel="stylesheet" type="text/css">
  <link href="../styles/base.css" rel="stylesheet" type="text/css">
  <link href="../styles/layout.css" rel="stylesheet" type="text/css">
  <link href="../styles/modules.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header id="newHeader">
    
  </header>
  <main id="resultsBody">

    <ul><% searchResults.forEach(book => { %>
      <li >
        
        <form action="/books" method="post">
          <section id="searchResults">
            <img src="<%=book.image_url %> "> 
            <h2 class="formElement"><%=book.title %></h2>
            <h3 class="formElement"><%=book.author %></h3>
            <p class="formElement"><%=book.description %></p>
            <input type="hidden" name="newBook" value="<%=JSON.stringify(book)%>"></input>

            <button type="submit">Select this Book</button>
          </section>
          </form>
        </li>

      <% }) %>
    </ul>

  </main>
</body>

</html>