<!DOCTYPE html>
<html>

<head>
  <%- include('../../layout/head.ejs') %>
  <title>Searches</title>
</head>

<body>
  <header id="newHeader">
    <%- include('../../layout/header') %>
  </header>
  <main id="resultsBody">
    <ul><% searchResults.forEach(book => { %>
      <li>
        <form action="/books" method="post">
          <section id="searchResults">
            <img src="<%=book.image_url %> ">
            <h2 class="formElement"><%=book.title %></h2>
            <h3 class="formElement"><%=book.author %></h3>
            <p class="formElement"><%=book.description %></p>
            <input type="hidden" name="newBook" value="<%=JSON.stringify(book)%>"></input>

            <button type="submit">Select this Book</button>
          </section>
        </form>
      </li>
      <% }) %>
    </ul>
  </main>
</body>

</html>