<!DOCTYPE html>

<html>

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <header> <%- include('../layout/header') %> </header>
  <main>
    <ul>
      <% results.forEach(books => { %>
        <li data-id= "<%= books.id %>">
          <img src="<%= books.image_url %>"/>
          <h4>Title: <%= books.title %></h4>
          <h5>Author: <%= books.author %></h5>
          <a href="./books/<%= books.id %>">View Book Details</a>
        </li>
      <% }) %>
    </ul>
  </main>
</body>

</html>